body{
    background-image:url("../../assets/images/background.jpg");
    opacity: 40%;
    margin:auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    overflow: auto;
}


header{
    padding:0px;
    float:none;

}
.main{
    color:whitesmoke;
    font-size: 25px;
}
.nav{
    padding: 20px;
    margin-left: 30px;
}
.fader{
    opacity:.5;
}
.card{
    color: black;
}

.attackarea{
    margin-top:50px;
    text-align: center;
    
}
#battle-area{
    margin:auto;
    text-align: center;
    
}
