body{
    background-image:url("../../assets/images/background.jpg");
    opacity: 40%;
    margin:auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    overflow: auto;
}
.jumbotron{
    overflow: auto;
}


header{
    padding:0px;
    float:none;

}
.main{
    color:whitesmoke;
    font-size: 25px;
}
.nav{
    padding: 20px;
    margin-left: 30px;
}
.fader{
    opacity:.5;
}
.card{
    color: black;
}

.attackarea{
    margin-top:50px;
    text-align: center;
    float: right;
    
}
.battle-area{
    margin:auto;
    text-align: center;
    text-decoration:underline;
    text-decoration-color: red
    
}


/* Resetting the banner image */

@media (max-width: 768px){
    #banner-img{
        height: 200px;
        width:auto;
    }
    .jumbotron{
        overflow: auto;
    }
    .main{
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 640px){
    #banner-img{
        height: 150px;
        width: auto;
    }
}
